.group {
  /* user-select: none; */
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
}

.group.dropped {
}

.group.dragging {
  outline: var(--border-width) solid currentColor !important;
  outline-offset: var(--offset) !important;
}

.overflow {
  position: relative;
  overflow: hidden;
}
