.root {
  display: inline-flex;
  align-self: start;
  align-items: center;
  position: relative;
  color: inherit;
  font: inherit;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: inherit;
  letter-spacing: inherit;

  cursor: pointer;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
}

a.root:is(:not([class]), :not:visited, :not:hover) {
  hyphens: none;
  text-decoration: underline;
  text-decoration-skip-ink: auto;
  text-decoration-thickness: 0.04em;
  text-underline-offset: 0.03em;
}
a.root:is(:visited, :hover) {
  touch-action: manipulation;
}
/* @media (prefers-color-scheme: dark) {
  @supports (-webkit-hyphens: none) {
    a.root[href] {
    }
  }
} */

a.root:focus {
  outline: none;
}

.root[data-tooltip]:hover::after {
  content: attr(data-tooltip);
  background-color: var(--white);
  color: currentColor;
  box-shadow: var(--shadow);
  padding: var(--gap-1) var(--gap-2);
  border-radius: var(--border-radius);
  font-size: 90%;
  display: block;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
  z-index: var(--z-2);
}

.root.button {
  min-height: var(--minHeightUserAction);
  background-color: var(--transparent);
  border: var(--border-width) solid var(--transparent);
  outline: none;
  text-decoration: none;
}

.root:disabled,
.root[disabled] {
  opacity: var(--disabled);
  cursor: no-drop;
}

@media screen and (forced-colors: active) {
  /* https://blogs.windows.com/msedgedev/2020/09/17/styling-for-windows-high-contrast-with-new-standards-for-forced-colors/ */
  .root {
    forced-color-adjust: none;
    color: CanvasText;
  }
}

.root svg {
  pointer-events: none;
}
