.root {
  display: inline-flex;
  align-self: start;
  align-items: center;

  color: inherit;
  font: inherit;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: inherit;
  letter-spacing: inherit;

  cursor: pointer;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
}
a:is(:not([class]), :not:visited, :not:hover) {
  hyphens: none;
  text-decoration: underline;
  text-decoration-skip-ink: auto;
  text-decoration-thickness: 0.04em;
  text-underline-offset: 0.03em;
}
a:is(:visited, :hover) {
  /* color: var(--color); */
  touch-action: manipulation;
}
@media (prefers-color-scheme: dark) {
  @supports (-webkit-hyphens: none) {
    a[href] {
      /* color: var(--color); */
    }
  }
}
a:focus {
  outline: none;
}

.root.button:focus,
.root.button.ring,
.root.button:focus-visible {
  outline: var(--border-width) solid currentColor;
  outline-offset: calc(var(--border-width) * 1.1);
}

.root.button {
  min-height: var(--minHeightUserAction);
  background-color: var(--transparent);
  border: var(--border-width) solid var(--transparent);
  outline: none;
  text-decoration: none;
}

.root:disabled,
.root[disabled] {
  opacity: var(--disabled);
  cursor: no-drop;
}

@media screen and (forced-colors: active) {
  /* https://blogs.windows.com/msedgedev/2020/09/17/styling-for-windows-high-contrast-with-new-standards-for-forced-colors/ */
  .root {
    forced-color-adjust: none;
    color: CanvasText;
  }
}

.root svg {
  pointer-events: none;
}
