.overlay[data-reach-dialog-overlay] {
  backdrop-filter: blur(1px);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: var(--z-max);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: auto;
}
.root[data-reach-dialog-content] {
  background-color: var(--white);
  border-radius: var(--border-radius);
  display: flex;
  align-items: stretch;
  flex-direction: column;
  /* https://caniuse.com/css-overscroll-behavior */
  overscroll-behavior: contain;
}

.root.portrait {
  width: min(320px, calc(100% - 2em));
  min-height: max(20vh, 380px);
}

.root.landscape {
  width: min(750px, calc(100% - 2em));
  min-height: max(20vh, 380px);
}

.root [data-reach-dialog-description] {
  flex: 1;
}

.overlayTray {
  backdrop-filter: blur(1px);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
  z-index: var(--z-max);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.rootTray {
  --tray-min-height: 200px;
  background-color: var(--white);
  width: min(750px, calc(100% - 1em));
  height: var(--tray-min-height) !important;
  max-height: min(var(--tray-min-height), 90vh);
  /*max-height trumps height, but not min-height */
  padding-bottom: env(safe-area-inset-bottom);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  /* transform: translateY(var(--tray-min-height)); */
  outline: none;
  overflow: auto;
  /* https://caniuse.com/css-overscroll-behavior */
  overscroll-behavior: contain;
}

.rootTray.isOpen {
  transform: translateY(0);
}

.viewport {
  height: calc(var(--tray-min-height) - 14%) !important;
}
