.overlay {
  background-color: rgba(0, 0, 0, 0.28);
  backdrop-filter: blur(1px);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
  z-index: 9;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: auto;
}
.root {
  --tray-min-height: 200px;
  background-color: #f5f5f7;
  box-shadow: 0 0.2px 0.3px rgba(0, 0, 0, 0.024),
    0 0.6px 0.9px rgba(0, 0, 0, 0.035), 0 1.5px 2.1px rgba(0, 0, 0, 0.046),
    0 5px 7px rgba(0, 0, 0, 0.07);
  padding: 1em;
  width: min(750px, calc(100% - 1em));
  height: var(--tray-min-height);
  max-height: min(var(--tray-min-height), 70vh);
  /*max-height trumps height, but not min-height */
  padding: 1em;
  padding-bottom: env(safe-area-inset-bottom);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  transform: translateY(var(--tray-min-height));
  outline: none;
  overflow: auto;
  /* https://caniuse.com/css-overscroll-behavior */
  overscroll-behavior: contain;
}

.root.isOpen {
  transform: translateY(0);
}
