.root {
  width: 100%;
  overflow-x: hidden;
}
.scrolling {
  --scroll-intensity: 0.95;
  --scroll-saturate: 1.25;
  filter: brightness(var(--scroll-intensity)) saturate(var(--scroll-saturate));
  opacity: 0.9;
}

.viewport {
  display: flex;
  backface-visibility: hidden;
  -webkit-overflow-scrolling: touch;
  cursor: grab;
  user-select: none;
}
