.root {
}

.root:focus-within {
}

.input {
  caret-color: var(--gray-2);
  appearance: none;
  font-family: inherit;
  font-size: max(16px, 1rem);
  min-width: 0;
  flex-grow: 1;
  background-color: var(--transparent);
  border: var(--border-width) solid var(--transparent);
  min-height: var(--minHeightUserAction);
}

.input:focus {
  border-radius: 0;
  outline: var(--border-width) solid currentColor;
  outline-offset: calc(var(--border-width) * 1.1);
}
.input::-webkit-input-placeholder {
  color: var(--gray-2);
}
.input::-ms-input-placeholder {
  color: var(--gray-2);
}

.input:autofill {
}

.root label::after {
  content: "\A";
  white-space: pre;
}
