.group {
  position: relative;
  width: fit-content;
}

.group label::after {
  content: "\A";
  white-space: pre;
}

.group input {
  caret-color: var(--black);
  appearance: none;
  font-family: inherit;
  font-size: max(16px, 1rem);
  min-width: 0;
  flex-grow: 1;
  background-color: var(--transparent);
  border: var(--border-width) solid currentColor;
  line-height: var(--minHeightUserAction);
}

.input:autofill {
}

.input::-webkit-input-placeholder {
  color: currentColor;
}
.input::-ms-input-placeholder {
  color: currentColor;
}

.clear {
  position: absolute;
  right: 0;
  bottom: 0;
  transform: translate(-0.3em, -0.15em);
}
