.menu {
  background-color: var(--white);
  transform: translateY(0.3em);
  z-index: var(--z-3);
}

.menuOpen {
}

.menuClose {
}

.item {
  text-align: left;
  cursor: pointer;
  min-width: var(--minHeightUserAction);
}

.button {
  display: inline-flex;
  align-self: start;
  align-items: center;
  background-color: var(--transparent);
  border: var(--border-width) solid var(--transparent);
  min-width: var(--minHeightUserAction);
  outline: none;
  color: inherit;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  letter-spacing: inherit;

  cursor: pointer;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
}
