.menu {
  background-color: var(--white) !important;
  transform: translateY(0.2em);
}

.menuOpen {
}

.menuClose {
}

.item {
  text-align: left;
}
.item:hover {
  outline: var(--border-width) solid currentColor;
  outline-offset: calc(var(--border-width) * 1.1);
}

.button {
  display: inline-flex;
  align-self: start;
  align-items: center;

  background-color: var(--transparent);
  border: var(--border-width) solid var(--transparent);
  min-height: var(--minHeightUserAction);
  outline: none;

  color: inherit;
  font: inherit;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  letter-spacing: inherit;

  cursor: pointer;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
}

.button:focus {
  outline: var(--border-width) solid currentColor;
  outline-offset: calc(var(--border-width) * 1.1);
}
