.group {
  position: relative;
  display: grid;
  grid-template-columns: var(--minHeightUserAction) auto;
  place-content: start;
  place-items: center;
  gap: var(--gap-2);
}

.checkbox {
  accent-color: var(--black);
  margin: 0;
  font: inherit;
  color: currentColor;
  height: var(--minHeightUserAction);
  width: var(--minHeightUserAction);
  aspect-ratio: 1;
  border: var(--border-width) solid currentColor;
  border-radius: inherit;
  background-color: var(--transparent);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.group.mixed {
}

.group.checked .checkbox {
  filter: brightness(var(--bright));
}

.group.unchecked {
}

.group svg {
  position: absolute;
  background-color: transparent;
  top: 0;
  left: 0;
  transform: scale(1.1) translate(0.2em, 0.2em);
  z-index: var(--z-2);
}
