.root {
  position: relative;
  display: grid;
  grid-template-columns: 1em auto;
  gap: var(--gap-2);
}

.checkbox {
  --checkbox-fill: var(--gray-3);
  accent-color: var(--gray-3);
  margin: 0;
  font: inherit;
  color: currentColor;
  width: 1.15em;
  height: 1.15em;
  border: 0.15em solid currentColor;
  border-radius: 0.15em;
  transform: translateY(-0.075em);
  display: grid;
  place-content: center;
}
.checkbox:not(.mixed) {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: var(--white);
}
.checkbox:not(.mixed)::before {
  content: "";
  width: 0.65em;
  height: 0.65em;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em var(--checkbox-fill);
  border: 0.1em solid var(--checkbox-fill);
  /* transform-origin: bottom left;
  clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%); */
}
.checkbox:not(.mixed):checked::before,
.checkbox:not(.mixed).checked::before,
.checkbox.unchecked::before {
  transform: scale(1);
}
.checkbox:focus {
  outline: var(--border-width) solid currentColor;
  outline-offset: calc(var(--border-width) * 1.1);
}
