@supports selector(:has(*)) {
  /* do something */
}

.button:has(.icon) {
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

/* 
If no image, add radius to the top left and right corners. 
*/
.card:not(:has(img)) .card-content {
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

/*
  If an `a` element contains an image, set the `a`'s display
*/
a:has(img) {
  display: block;
}

/* 
  Is <h2> element followed by a <p> element ?
*/

.card h2:has(+ p) {
}
