@media (--portrait) {
  .place-first-portrait {
    order: -1 !important;
  }

  .only-landscape {
    display: var(--none-override);
  }
}

@media (--landscape) {
  .flex-landscape {
    display: flex;
  }

  .only-portrait {
    display: var(--none-override);
  }
}

.col-to-row {
  display: flex;
  flex-direction: column;
}

@media (--landscape) {
  .col-to-row {
    flex-direction: row;
  }
}
