html {
  scroll-behavior: smooth;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
}

body {
  overflow-y: scroll;
}
@supports (scrollbar-gutter: stable) {
  body {
    overflow-y: auto;
    scrollbar-gutter: stable;
  }
}

/*
    You could not have one axis be hidden
    (hidden, scroll and auto all limit the content from expanding beyond the element) 
    while having the other one set to visible.
    until...
    clip in one direction 
    visible in another direction
*/
@supports (overflow: clip) {
  /* safe to use overflow: clip */
}
