.text-select {
  user-select: all;
}

.text-disabled {
  user-select: none;
}

::-webkit-selection {
  background-color: var(--accent-highlight);
}

::-moz-selection {
  background-color: var(--accent-highlight);
}

::selection {
  background-color: var(--accent-highlight);
}
