.surface {
  position: relative;
  width: 160px;
  aspect-ratio: 16/9;
  border-radius: var(--border-radius);
  background-color: var(--white);
  box-shadow: var(--shadow);
  overflow: hidden;
  padding: var(--gap-5);
  border: var(--border-width) solid currentColor;
}
.surface .interactive {
  position: relative;
  height: 100%;
  width: 100%;
}

.surface .bg {
  position: absolute;
  top: -7px;
  left: -7px;
  right: -7px;
  bottom: -7px;
  background-color: var(--accent-error);
  border-radius: var(--border-radius);
}
.surface .thumb {
  position: absolute;
  transform: translate(-50%, -50%);
  height: 14px;
  width: 14px;
  background-color: var(--accent);
  border-radius: 100%;
}
