.group {
  display: inline-flex;
  align-self: start;
  align-items: center;
  background-color: var(--transparent);
  border: var(--border-width) solid var(--transparent);
  min-height: var(--minHeightUserAction);
  outline: none;
  position: relative;
  color: inherit;
  font: inherit;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  letter-spacing: inherit;

  cursor: pointer;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
}

.group.icon {
  height: var(--minHeightUserAction);
  width: var(--minHeightUserAction);
  padding: 0;
  place-content: center;
}

.stretch {
  width: 100%;
}

.group:focus-visible {
}

.group:disabled,
.group[disabled] {
  opacity: var(--disabled);
  cursor: no-drop;
}

.group.text {
  background-color: transparent !important;
  box-shadow: var(--none-override);
  border: var(--none-override);
  font-weight: bold;
}
.group.text.ring,
.group.text:focus-visible {
  outline-color: transparent !important;
}

@media screen and (forced-colors: active) {
  /* https://blogs.windows.com/msedgedev/2020/09/17/styling-for-windows-high-contrast-with-new-standards-for-forced-colors/ */
  .group {
    forced-color-adjust: none;
    color: CanvasText;
  }
}

.group svg {
  pointer-events: none;
}
