.root {
  position: relative;
  display: inline-block;
}

.root:focus-within {
  outline: 4px solid currentColor;
  outline-offset: calc(4px * 1.1);
}

.root select {
  accent-color: blue;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  font-family: inherit;
  font-size: max(16px, 1rem);
  min-width: 0;
  flex-grow: 1;
  min-height: max(44px, 2em);
  padding: 0 0.8em;
  border: 4px solid currentColor;
  background-color: #f5f5f7;
  box-shadow: 0 0.2px 0.3px rgba(0, 0, 0, 0.024),
    0 0.6px 0.9px rgba(0, 0, 0, 0.035), 0 1.5px 2.1px rgba(0, 0, 0, 0.046),
    0 5px 7px rgba(0, 0, 0, 0.07);
  outline: 0;
}

.root select::-ms-expand {
  display: none;
}

.root select:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 #000;
}

.root option {
  color: inherit;
}

.root option::first-of-type {
  color: grey;
}

.root::after {
  content: " ";
  position: absolute;
  right: 0;
  top: 0;
  z-index: 2;
  pointer-events: none;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 6.9px 4px 0 4px;
  border-color: currentColor transparent transparent transparent;
  pointer-events: none;
  transform: scale(1.4) translate(-1em, 0.9em);
}
