.root {
  position: relative;
  display: inline-block;
}

.select {
  accent-color: var(--gray-2);

  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  font-family: inherit;
  font-size: max(16px, 1rem);
  min-width: 0;
  flex-grow: 1;
  background-color: var(--transparent);
  border: var(--border-width) solid var(--transparent);
  min-height: var(--minHeightUserAction);
  outline: none;
}

.select:focus {
  outline-color: var(--transparent) !important;
}
.select::-ms-expand {
  display: none;
}

.select:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 #000;
}

.root option {
  color: inherit;
}

.root option::first-of-type {
  color: var(--gray-2);
}

.root::after {
  content: " ";
  position: absolute;
  right: 0;
  top: 0;
  z-index: 2;
  pointer-events: none;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 6.9px 4px 0 4px;
  border-color: currentColor transparent transparent transparent;
  pointer-events: none;
  transform: scale(1.4) translate(-1em, 0.9em);
}
