html {
  --bg: var(--gray-1);
  --color: #2d3436;
  --strong: var(--black);
  --accent: var(--accent-highlight);
}

body {
  background-color: var(--white);
  color: var(--color);
}

h1 {
  font-size: 40px;
  line-height: 1.1;
  font-weight: 600;
  letter-spacing: 0em;
  color: var(--strong);
}
h2 {
  padding: var(--gap-1) var(--gap-1) 0 var(--gap-1);
}
main {
  font-family: sans-serif;
  text-align: center;
  padding: 3vh 3vw;
}

main > * + * {
  margin-top: 1em;
}

ul {
  list-style: none;
}
.demo > li {
  background-color: var(--bg);
  min-height: 40vh;
  position: relative;
  padding: var(--gap-4);
  border-radius: var(--gap-1);
  box-shadow: var(--shadow);
}
.demo > li:last-of-type div {
  height: 100%;
}

.white-space {
  background-color: var(--color) !important;
}

.fence-bg {
  background-color: var(--accent-highlight);
  padding: 3.5em var(--gap-3) var(--gap-3) var(--gap-3);
}

.badge {
  width: 50px;
  aspect-ratio: 1;
  border-radius: 50%;
  background-color: var(--color);
}

.badge {
  position: absolute;
  right: var(--gap-4);
  top: var(--gap-4);
  width: 90px;
  border: 4px solid var(--strong);
  display: grid;
  place-items: center;
  font-weight: 600;
  background-color: transparent;
}
.accent-bg {
  background-color: var(--strong);
  color: var(--accent);
}

.full-width {
  width: 100%;
}

.track {
  width: 1200px;
}

.tag {
  padding: var(--gap-1) var(--gap-3);
  cursor: pointer;
  text-align: left;
}

.tag:hover {
  opacity: 0.8;
}

.scroll {
  width: 290px;
  height: 270px;
}

.errors-input {
  text-align: left;
  color: var(--accent-error);
}
